.active {
  border-bottom: 1px solid red;
}

.border {
  border-bottom: 2px solid green;
  display: inline-block;
  width: auto;
  text-align: center;
  margin: auto;
  padding: 0 20px 5px;
  white-space: nowrap;
  overflow: hidden;
}
.cardWrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 500px) {
  .border {
    border-bottom: 2px solid green;
    display: inline-block;
    width: auto;
    margin: auto;
    padding: 0 20px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.cardWrap:hover {
  overflow: visible;
  white-space: normal;
  height: auto;
}
